
#clockDiv{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    justify-items: center;
    background: linear-gradient(#ff0 , #0f0);
    width: 100px;
    height: 10vh;
    border-radius: 50% ;
}
body{
    margin: 0;
}
form{
    display: grid;
    place-items: center;
}